[defaults]

# Inventory file path
inventory = inventory.ini
# Remote user for SSH connections
remote_user = user
# Setting it to False automatically accepts unknown SSH fingerprints, which is convenient but less secure. 
# Since you're building good networking and cybersecurity habits, I'd leave it enabled.
host_key_checking = True
# Number of parallel processes to use for task execution
forks = 10
# Timeout for SSH connections in seconds
timeout = 30
# Control the verbosity of Ansible output (0-4)
gathering = smart
# Enable fact caching to improve performance
fact_caching = memory
# Later, you could use:
#
# fact_caching = jsonfile
# fact_caching_connection = .fact_cache
#
# to persist facts between runs.


# Enable retry files to allow re-running failed tasks
retry_files_enabled = False
# Set the path for log files
log_path = logs/ansible.log
# Set the default callback plugin for output formatting
stdout_callback = yaml
# Set the default Python interpreter for remote hosts
interpreter_python = auto_silent
# Set the path to the vault password file for encrypted variables 

# ADD THIS TO GITIGNORE
vault_password_file = .vault_pass